extends layout

block content
  h1= title
   if (toShow == null)
    h2 No instance to Update
   else
    - let appleid = toShow._id   
    - let apple_type = toShow.apple_type
    - let quantity  = toShow.quantity 
    - let cost = toShow.cost
    div
      div.row
        div(class='appleAttr mr-3') apple ID is:
        div #{appleid}
      div.row
        div(class='appleAttr mr-3') apple appleType is:
        div #{apple_type}
      div.row
        div(class='appleAttr mr-3') apple quantity  is:
        div #{quantity}
      div.row
        div(class='appleAttr mr-3') apple Cost is:
        div #{cost}